In [1]:
import pandas as pd
import numpy as np
import csv
file_name = "raw_database.xlsx"
df3 = pd.read_excel(file_name, usecols=("A,C,E,G,H,J,K,L,M,N"), sheet_name=2)

In [2]:
print(df3.columns)

Index(['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')

In [6]:
df3.columns = ["Protocolo", "Data Finalização", "Fornecedor", "UF do Consumidor", "Cidade do Consumidor", 
              "Relato do Consumidor", "Resposta do Fornecedor", "Texto da Avaliação", 
              "Indicador de solução", "Nota"]

print(df3.info())
df3["Fornecedor"]= df3["Fornecedor"].astype('category')
df3["UF do Consumidor"]= df3["UF do Consumidor"].astype('category')
df3["Cidade do Consumidor"]= df3["Cidade do Consumidor"].astype('category')
df3["Indicador de solução"] = df3["Indicador de solução"].astype('category')
df3["Data Finalização"] = pd.to_datetime(df3["Data Finalização"], format='%d/%m/%Y %H:%M:%S')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760426 entries, 0 to 760425
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Protocolo               760426 non-null  int64
 1   Data Finalização        760426 non-null  object
 2   Fornecedor              760426 non-null  object
 3   UF do Consumidor        760426 non-null  object
 4   Cidade do Consumidor    760426 non-null  object
 5   Relato do Consumidor    760426 non-null  object
 6   Resposta do Fornecedor  756771 non-null  object
 7   Texto da Avaliação      335457 non-null  object
 8   Indicador de solução    458977 non-null  object
 9   Nota                    458977 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 58.0+ MB
None

In [7]:
print(df3.dtypes)
print(df3["Data Finalização"])

Protocolo                          int64
Data Finalização          datetime64[ns]
Fornecedor                      category
UF do Consumidor                category
Cidade do Consumidor            category
Relato do Consumidor              object
Resposta do Fornecedor            object
Texto da Avaliação                object
Indicador de solução            category
Nota                             float64
dtype: object
0        2017-07-26 21:35:36
1        2017-07-26 21:35:35
2        2017-07-26 21:35:24
3        2017-07-26 21:35:06
4        2017-07-26 21:33:21
                 ...
760421   2014-05-09 23:54:52
760422   2014-05-09 10:49:20
760423   2014-05-08 21:42:44
760424   2014-05-08 18:17:19
760425   2014-05-07 18:53:53
Name: Data Finalização, Length: 760426, dtype: datetime64[ns]

In [8]:
df3

,Protocolo,Data Finalização,Fornecedor,UF do Consumidor,Cidade do Consumidor,Relato do Consumidor,Resposta do Fornecedor,Texto da Avaliação,Indicador de solução,Nota
0,20170700000853852,2017-07-26 21:35:36,Serasa S/A,SP,São Paulo,Boa Tarde. Minha pontuação no serasa nunca fic...,"Senhora Nayani,\r\n\r\nA resposta à sua solici...",NaN,S,4.0
1,20170700000855092,2017-07-26 21:35:35,Serasa S/A,SP,Várzea Paulista,Desejo que meus dados de consultas do meu CPF ...,"Sr. Ronaldo, bom dia.\r\n\r\nA resposta à sua ...",NaN,S,4.0
2,20170700000832732,2017-07-26 21:35:24,BP Promotora de Vendas Ltda.,AL,Maceió,Fiz um financiamento no Bradesco onde o juros ...,Prezada Sra. Elayne. Conforme contato por e-ma...,Não foi resolvida e totalmente sem nenhum comp...,N,1.0
3,20170700000853868,2017-07-26 21:35:06,BOA VISTA SERVIÇOS S.A. - SCPC SERVIÇO CENTRAL...,SP,São Paulo,Boa Tarde. minha pontuação caiu mais d 200 pon...,"Prezado (a) Senhor (a),\r\n\r\nPara segurança...",NaN,S,4.0
4,20170700000843296,2017-07-26 21:33:21,Banco Bradescard S.A.,SP,São Paulo,ATENÇÃO! \r\nPara garantir sua privacidade e s...,Prezada Sr.ª Paloma. Conforme contato por tele...,"Não aceito tal argumentação da Bradescard, uma...",N,1.0
...,...,...,...,...,...,...,...,...,...,...
760421,2014050000000813,2014-05-09 23:54:52,Sky Brasil Serviços Ltda,RJ,Nova Iguaçu,No dia 21/04/2014 liguei para a empresa e pedi...,A empresa informa que entrou em contato com o ...,Embora não esteja especificado na resposta tud...,S,5.0
760422,2014050000000806,2014-05-09 10:49:20,Telefonica Brasil S/A,RJ,Rio de Janeiro,Em 20/12/2013 fui a loja da vivo código RJL00...,Contatamos LUIZ CARLOS DA COSTA SALGADO em 09/...,Agradeço a solução definitiva do problema e co...,S,4.0
760423,2014050000000802,2014-05-08 21:42:44,Tim S.A.,RJ,Rio de Janeiro,"Recebi no dia 09/01/2014 um sms em meu tel., q...",Sua demanda foi concluída no dia 07/05/2014 a...,O atendimento através do Site foi muito bom ma...,S,5.0
760424,2014050000000805,2014-05-08 18:17:19,Claro S.A.,RJ,Rio de Janeiro,Sou Cliente da Claro Empresas desde 1997. Aqua...,Sr. Luiz\r\n\r\nEm atenção à reclamação sobre ...,"Sobre a contestação de dados excedentes, escla...",S,4.0
760425,2014050000000801,2014-05-07 18:53:53,Tim S.A.,DF,Brasília,Dificuldade para acessar a internet em várias ...,Sua demanda foi concluída no dia 07/05/2014 ...,NaN,S,5.0

In [30]:
anos = [2017,2016,2015,2014]
mask={}
for ano in anos:
    mask['ano_'+str(ano)]= df3["Data Finalização"].between(str(ano)+'-01-01 00:00:01', str(ano)+'-12-31 23:59:59')
    print (len(df3[mask['ano_'+str(ano)]]))

250431
288603
184241
37151

In [ ]:
""" ano_2017 = (df3["Data Finalização"].between(str(anos[0])+'-01-01 00:00:01', str(anos[0])+'-12-31 23:59:59'))
ano_2016 = (df3["Data Finalização"].between(str(ano2)+'-01-01 00:00:01', str(ano2)+'-12-31 23:59:59'))
ano_2015 = (df3["Data Finalização"].between(str(ano3)+'-01-01 00:00:01', str(ano3)+'-12-31 23:59:59'))
ano_2014 = (df3["Data Finalização"].between(str(ano4)+'-01-01 00:00:01', str(ano4)+'-12-31 23:59:59'))
 """

In [ ]:
for i in anos:
    print(len(df['ano_'+i]))

In [ ]:

df3[ano_2017].to_excel("2017_p2.xlsx", encoding = "utf-8", index=False)
df3[ano_2016].to_excel("2016.xlsx", encoding = "utf-8", index=False)
df3[ano_2015].to_excel("2015.xlsx", encoding = "utf-8", index=False)
df3[ano_2014].to_excel("2014.xlsx", encoding = "utf-8", index=False)